$bg-green: #a4b79f;
$bg-light-green: #f3f7f4;
$dark-green: #0b3b3c;
$footer-green: #e8efe9;
$green: #6d8a83;
$light-green: #e8efe9;
$maroon: #7e0707;
$light-maroon: #a31111;
$white: #ffffff;
$light-gray: #ededed;
$gray: #b5b5b5;
