@use "../variables/colors";

button {
    background: colors.$maroon;
    border: none;
    color: colors.$white;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color ease 0.2s;

    &:hover {
        background-color: colors.$light-maroon;
    }
}
