@use "./variables/breakpoint";

.container {
    max-width: 1440px;
    padding: 0 138px;
    margin: 0 auto;

    @media only screen and (max-width: breakpoint.$md) {
        padding: 0 80px;
    }

    @media only screen and (max-width: breakpoint.$sm) {
        padding: 0 40px;
    }
}

.container-inner {
    max-width: 964px;
    margin: 0 auto;
}

// Pages will have a subtle intro animation
@keyframes pageIntro {
    0% {
        opacity: 0;
        margin-top: -10px;
    }
    70% {
        margin-top: 0;
    }
    100% {
        opacity: 1;
    }
}

.page,
.animated-intro {
    animation-name: pageIntro;
    animation-duration: 0.3s;
    animation-timing-function: ease;
}
