@use "./variables/colors";

@font-face {
    font-family: "TT Norms";
    src: url(./fonts/TT-Norms/TTNorms-Regular.otf) format("opentype");
}

// USAGE
body {
    font-family: "TT Norms", sans-serif;
    color: colors.$dark-green;
}

p {
    font-size: 18px;
    line-height: 30px;
}

h5 {
    color: colors.$green;
}

h1 {
    font-size: 90px;
    line-height: 90px;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 40px;
    line-height: 60px;
    margin: 70px 0;
}

h4 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.03em;
    margin: 0;
}

h6 {
    font-size: 10px;
    line-height: 15px;
    color: colors.$green;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0 0 10px 0;
}

.text-center {
    text-align: center;
}
